* {
    box-sizing: border-box;   
}


body {
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

strong {
    font-weight: bold;
}

.topo {
    background-color: #FFFFFF;
    height: 54px;
    border: 1px solid #DBDBDB;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topo-container {
    width: 935px;
    margin: 0 auto;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container ion-icon {
    font-size: 20px;
    margin: 0 20px 0px 0px;    
}

.logo {
    height: 29px;
}

.topo-container-mobile {
    display: none;
}
.topo input {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    text-align: center;
}

.botoes-topo ion-icon {
    font-size: 20px;
    margin: 0 5px;
}

.conteudo {
    display: flex;
    background-color: #FAFAFA;
    width: 935px;
    margin: 88px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline {
    width: 614px;
}

.storie {
    width: 64px;
    height: 100%;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.stories {
    width: 100%;
    height: 118px;
    background: #FFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 25px;
    display: flex;
    overflow: hidden;

    padding: 0 8px;
    position: relative;
}

.post {
    height: 749px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.post-topo {
    height: 68px;

    display: flex;
    justify-content: space-between;
}

.post-topo ion-icon {
    margin: 8px 8px;
    font-size: 18px;
}

.profile-photo {
    width: 32px;
    border-radius: 50%;
    margin: 0 8px;
}

.post-profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 8px;
}

.post-foto {
    width: 612px;
    height: 749px;
}

.post-foto img, video {
    width: 610px;
    height: 610px;
}

.post-footer {
    height: 68px;
    width: 612px;
    display: flex;
    flex-direction: column;
}

.post-actions {
    display: flex;
    justify-content: space-between;
}
.post-actions ion-icon {
    margin: 2px 8px;
    font-size: 18px;
}

.post-comments {
    height: 21px;
    margin: 0 8px
}
.post-comments img {
    width: 20px;
}

.imagem-storie {
    width: 64px;
    height: 64px;
    background-image: url('../imagens/stories_background.jpg');
    background-size: cover;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-storie img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.botao-scroll {
    width: 30px;
    height: 30px;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.3);
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 293px;
    height: 300px;
    background: #FAFAFA;
    background-color: green;
    position: fixed;
    top: 88px;
    right: calc((100% - 935px) / 2);
}

.bottom-bar-mobile {
    background-color: #FFFFFF;
    display: none;
    border: 1px solid #DBDBDB;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.botoes-bottom {
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
}

.botoes-bottom ion-icon {
    margin: 0 12px;
}



/* Responsivel */
@media (max-width: 935px) {
    .sidebar {
        display: none;
    }
    
    .topo-container {
        width: 900px;
        margin: 0 auto;
    }
    .conteudo {
        justify-content: center;
    }



}

/* Mobile */
@media (max-width: 614px) {
    .topo-container-mobile {
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .topo-container, .conteudo, .timeline {
        width: 100%;
    }

    .sidebar, .topo-container input, .botoes-topo, .botao-scroll, .topo-container {
        display: none;
    }

    .stories {
        background: none;
        border: none;
        margin-bottom: 0;
    }

    .conteudo {
        margin-top: 55px;
    }

    .bottom-bar-mobile {
        display: initial;
        width: 100%;
    }
} 