* {
    box-sizing: border-box;   
}


body {
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

strong {
    font-weight: bold;
}

.separador {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin: 0 10px;
  }

  
.topo {
    background-color: #FFFFFF;
    height: 54px;
    border: 1px solid #DBDBDB;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topo-container {
    width: 935px;
    margin: 0 auto;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container ion-icon {
    font-size: 20px; 
}

.logo {
    height: 29px;
}

.topo-container-mobile {
    display: none;
}
.topo input {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    text-align: center;
}

.botoes-topo ion-icon {
    font-size: 20px;
    margin: 0 5px;
}

.conteudo {
    display: flex;
    background-color: #FAFAFA;
    width: 935px;
    margin: 88px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline {
    width: 614px;
}

.sidebar {
    width: 293px;
    height: 300px;
    background: #FAFAFA;
    position: fixed;
    top: 88px;
    right: calc((100% - 935px) / 2);
}


.sidebar > .usuario {
    display: flex;
    align-items: center;
  }
  
  .sidebar > .usuario img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  
  .sidebar > .usuario .texto {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    font-weight: 300;
    color: #8E8E8E;
  }
  
  .sidebar > .usuario .texto strong {
    font-weight: 500;
    color: #262626;
  }
  
  .sidebar .sugestoes .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 14px;
  }
  
  .sidebar .sugestoes .sugestao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 31px;
    margin-bottom: 16px;
  }
  
  .sidebar .sugestoes .sugestao .usuario {
    display: flex;
  }
  
  .sidebar .sugestoes img {
    width: 32px;
    height: 32px;
  }
  
  .sidebar .sugestoes .seguir {
    color: #139EF2;
    font-weight: 600;
  }
  
  .sidebar .sugestoes .sugestao .usuario .texto {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar .sugestoes .sugestao .usuario .texto :last-child {
    color: #8E8E8E;
    font-weight: 400;
  }
  
  .links, .copyright {
    font-size: 11px;
    color: #C7C7C7;
  } 
  
  .links {
    margin-top: 40px;
    cursor: pointer;
  }
  
  .copyright {
    margin-top: 18px;
  }

.post {
    height: 749px;
   
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.post-topo {
    height: 68px;

    display: flex;
    justify-content: space-between;
}

.post-topo ion-icon {
    margin: 8px 8px;
    font-size: 18px;
}

.profile-photo {
    width: 32px;
    border-radius: 50%;
    margin: 0 8px;
}

.post-profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 8px;
}

.post-foto {
    width: 612px;
    height: 749px;
}

.post-foto img, video {
    width: 100%;
   
}

.post-footer {
    height: 68px;
    width: 612px;
    display: flex;
    flex-direction: column;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.post-actions ion-icon {
    margin: 4px 8px;
    font-size: 22px;
}


.post-comments {
    height: 21px;
    margin: 0 8px
}
.post-comments img {
    width: 20px;
}

.storie {
    width: 64px;
    height: 100%;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.stories {
    width: 100%;
    height: 118px;
    background: #FFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 25px;
    display: flex;
    overflow: hidden;

    padding: 0 8px;
    position: relative;
}

.imagem-storie {
    width: 64px;
    height: 64px;
    background-image: url('../assets/img/stories_background.jpg');
    background-size: cover;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-storie img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.botao-scroll {
    width: 30px;
    height: 30px;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.3);
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom-bar-mobile {
    background-color: #FFFFFF;
    display: none;
    border: 1px solid #DBDBDB;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.botoes-bottom {
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
}

.botoes-bottom ion-icon {
    margin: 0 12px;
}



/* Responsivel */
@media (max-width: 935px) {
    .sidebar {
        display: none;
    }
    
    .conteudo {
        justify-content: center;
    }

    .topo-container, .conteudo, .storie {
        width: 100%;
    }

    .topo-container {
        padding: 0 18px;
    }
}

/* Mobile */
@media (max-width: 614px) {
    .topo-container-mobile {
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
    }

    .topo-container-mobile ion-icon {
        font-size: 20px;
        margin: 0 5px;
    }
    
    .topo-container, .conteudo, .timeline {
        justify-content: center;
        width: 100%;
    }

    .sidebar, .topo-container input, .botoes-topo, .botao-scroll, .topo-container {
        display: none;
    }

    .stories {
        background: none;
        border: none;
        margin-bottom: 0;
    }

    .conteudo {
        margin-top: 55px;
    }

    .bottom-bar-mobile {
        display: initial;
        width: 100%;
    }

    .post, .post-foto, .post-footer {
        width: 100%;
    }

    .post-foto img, video {
        width: 100%;
        height: 100%;
    }

} 